.govuk-header__logotype {
  display: none;
}

nav {
  display: inline;
  float: right;
}

.govuk-header__navigation {
  display: inline;
}

.govuk-main-wrapper {
  padding-top: 0
}

.govuk-back-link__padding {
  margin-bottom: 40px;
}
